/* ----------------------------- */
/* Imports (start) */
/* ----------------------------- */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
/* ----------------------------- */
/* Imports (end) */
/* ----------------------------- */

/* ----------------------------- */
/* Display none (start) */
/* ----------------------------- */
#main-frame-error {
    display: none !important;
}

#sub-frame-error {
    display: none !important;
}

#guide {
    display: none !important;
}

iframe {
    display: none !important;
}

.alert-danger {
    display: none !important;
}

.myhands {
    display: none !important;
}

#keyboard {
    display: none !important;
}
/* ----------------------------- */
/* Display none (end) */
/* ----------------------------- */

/* ----------------------------- */
/* Basic (start) */
/* ----------------------------- */
body {
    /* background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalblack.png"); */
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/diagmonds.png");
    color: white;
}

footer {
    background: rgba(255, 255, 255, 0.1) !important;
    color: white;
    border: 5px !important;
}

 .container-fluid {
    margin-right: 5px;
    margin-left: 5px;
}

.btn {
    font-family: 'Source Code Pro', monospace;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
    color: #fff;
    padding: 10px 15px;
    position: relative;
    border: 0;
    cursor: pointer;
    overflow: hidden;
}
/* ----------------------------- */
/* Basic (end) */
/* ----------------------------- */

/* ----------------------------- */
/* Modal settings (start) */
/* ----------------------------- */
#myModal {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/diagmonds.png");
}

.modal-content {
    background: rgba(255, 255, 255, 0.1) !important;
}

button .close {
    color: white !important;
}
/* ----------------------------- */
/* Modal settings (end) */
/* ----------------------------- */

/* ----------------------------- */
/* Navbar settigs (start) */
/* ----------------------------- */
.navbar {
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    color: white;
    font-family: 'Source Code Pro', monospace !important;
}

.navbar-default .navbar-brand {
    color: #fff !important;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}
/* ----------------------------- */
/* Navbar settigs (end) */
/* ----------------------------- */

/* ----------------------------- */
/* Menu and Timer (start) */
/* ----------------------------- */
.col-md-2 {
    width: 100%;
    font-family: 'Source Code Pro', monospace;
}

.col-md-2 .dropdown {
    float: left;
}

.col-md-2 .btn {
    margin-right: 10px;
}

.col-md-2 .alert {
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    position: absolute;
    width: 15%;
    padding: 7px;
    right: 15px;
    color: white;
    border: 0;
}

.col-md-2 a {
    float: left;
}

.col-md-2 .dropdown {
    margin-bottom: 5px !important;
}

.col-md-2 .btn:hover {
    color: white;
    box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.3);
}

.col-md-2 .btn:focus {
    outline: none;
}

.col-md-2 .dropdown-menu {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border: 0;
}

.col-md-2 .dropdown-menu > li > a {
    width: 100%;
    color: black;
    font-family: 'Source Code Pro', monospace;
}
/* ----------------------------- */
/* Menu and Timer (end) */
/* ----------------------------- */

/* ----------------------------- */
/* Text block (start) */
/* ----------------------------- */
.col-md-7 {
    width: 100%;
    margin-top: 10px;
}

#main {
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: rgba(255, 255, 255, 0.8);
    border: black;
    width: 100%;
    height: 800px;
    padding: 20px;
}

#main .visited {
    color: rgba(255, 255, 255, 1);
}

#main .current {
    background-color: #47d42b;
    outline: #40be27;
}
/* ----------------------------- */
/* Text block (end) */
/* ----------------------------- */